<button (click)="goBack()" class="btn">go back</button>
<button (click)="autoPlayAudio()" class="btn">Auto play audio</button>
<div class="">
<div *ngIf="hero" class="col-md-3 col-xs-3 col-lg-3 col-sm-3 " style="height:80vh;overflow-y:scroll;">
  <div class="list-group">
    <a target="#" *ngFor="let item of hero.content; let i = index" (click)="onSelect(item)" class="list-group-item">
      <b>{{item.id}}</b>  *  <b>{{item.content[0]}}</b> - <span>{{item.content[2]}}</span>
    </a>
  </div>
</div>

<div *ngIf="selectedItem" class="col-md-9 col-xs-9 col-lg-9 col-sm-9" style="height:80vh;overflow-y:scroll;">
   <!-- <div *ngFor="let s of selectedItem.content">
    {{s}}
  </div>  -->
  <div>
    <h3>{{selectedItem.id}} - {{selectedItem.content[0]}}</h3>
    <div>Sound: {{selectedItem.content[1]}}<button (click)="playAudio(selectedItem.content[4])">Play item</button></div>
    <div>Meaning: {{selectedItem.content[3]}}</div>
    <!--4-sound-->
    
    <div>Type: {{selectedItem.content[5]}}</div>
    <div>Sample:<button (click)="playAudio(selectedItem.content[12])"> Play sentence
        <!-- {{selectedItem.content[12]  | formatString: { '[sound:': '', ']' : '' } }} -->
      </button></div>
    <div>{{selectedItem.content[6]}}</div>
    <h3 [innerHTML]=selectedItem.content[7]></h3>
    <div [innerHTML]=selectedItem.content[8]></div>
    <div [innerHTML]=selectedItem.content[9]></div>
    <!-- <div>{{selectedItem.content[7] | formatString: { '&lt;b&gt;': '', '&lt;/b&gt;' : '' } }}</div>
    <div>{{selectedItem.content[8] | formatString: { '&lt;b&gt;': '', '&lt;/b&gt;' : '' } }}</div> -->
    <!-- <button (click)="playAudio(selectedItem.content[8])">Play{{selectedItem.content[8]}}</button> -->
    <!--Sound kanji-->
    <!-- <div>{{selectedItem.content[9] | formatString: { '&lt;b&gt;': '', '&lt;/b&gt;' : '' } }}</div> -->
    <!--Sound hiragana-->
    <div>{{selectedItem.content[10]}}</div><!--Meaning-->
    <div [innerHTML]=selectedItem.content[11]></div><!--(...)-->
    
    <!-- <img src={{selectedItem.content[13]  | formatString: { '[img:': '', ']' : '' } }}/> -->
    <!-- <img src="https://thuanvh.github.io/j2ks/media/ffa5ad589fe3a9c1d2543915545d8f29.jpg"/> -->
    <img [src]=selectedItem.content[13] width="100" height="100"/>
    <!--14: Core 2000 01 - --1, 15: 1, 16: 1, 17: 56-->
  </div>
  <div>
    <button (click)="getListKj()" class="btn">Kanji</button>
    <div *ngIf="kjList" >
      <h5>kanji list</h5>
      <div *ngFor="let kj of kjList" class="panel">
        <div class="panel-body">
        <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1">
          <h2>{{kj.kj}}</h2>
        </div>
        <div class="col-md-11 col-xs-11 col-lg-11 col-sm-11">
        <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
            <div>{{kj.detail.hanviet}}</div>
            <div>{{kj.detail.keyword}}</div>
            
          
          <!-- <div>{{kj.detail.kanji}}</div> -->
          
          <div>{{kj.detail.kunYomi}}</div>
          <div>{{kj.detail.onYomi}}</div>
        </div>
        <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
            <div>{{kj.detail.constituent}}</div>
          <div>{{kj.detail.myStory}}</div>
          
          <div>{{kj.detail.readingExamples}}</div>
          <div>{{kj.detail.strokeDiagram}}</div>
          <!-- <div>{{kj.detail.words: string[][]; -->
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>