<button mat-raised-button color="primary" (click)="goBack()" class="btn">Go back</button>
<button mat-raised-button color="primary" (click)="autoPlayAudio()" class="btn">Auto play audio</button>
<!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->


<!-- <div *ngIf="hero" class="col-md-3 col-xs-3 col-lg-3 col-sm-3 " style="height:80vh;overflow-y:scroll;">
  <div class="list-group">
    <a target="#" *ngFor="let item of hero.content; let i = index" (click)="onSelect(item)" class="list-group-item">
      <b>{{item.id}}</b>  *  <b>{{item.content[0]}}</b> - <span>{{item.content[2]}}</span>
    </a>
  </div>
</div> -->
<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened>

<mat-nav-list>
  <mat-list-item *ngFor="let item of hero.content; let i = index">
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon> -->
    <a mat-line  (click)="onSelect(item)" >
      <b>{{item.id}}</b>  *  <b>{{item.content[0]}}</b> - <span>{{item.content[2]}}</span>
    </a>
     <!-- <button mat-icon-button (click)="onSelect(item)">
        <mat-icon>info</mat-icon>
     </button> -->
  </mat-list-item>
</mat-nav-list>

</mat-sidenav>
<mat-sidenav-content>

<div *ngIf="selectedItem" >
   <!-- <div *ngFor="let s of selectedItem.content">
    {{s}}
  </div>  -->
  <div>
    <h3>{{selectedItem.id}} - {{selectedItem.content[0]}}</h3>
    <div>Sound: {{selectedItem.content[1]}} <button mat-raised-button color="accent" (click)="playAudio(selectedItem.content[4])">Play item</button></div>
    <div>Meaning: {{selectedItem.content[3]}}</div>
    <!--4-sound-->
    
    <div>Type: {{selectedItem.content[5]}}</div>
    <div>Sample: <button mat-raised-button color="accent" (click)="playAudio(selectedItem.content[12])"> Play sentence
        <!-- {{selectedItem.content[12]  | formatString: { '[sound:': '', ']' : '' } }} -->
      </button></div>
    <div>{{selectedItem.content[6]}}</div>
    <h3 [innerHTML]=selectedItem.content[7]></h3>
    <div [innerHTML]=selectedItem.content[8]></div>
    <div [innerHTML]=selectedItem.content[9]></div>
    <!-- <div>{{selectedItem.content[7] | formatString: { '&lt;b&gt;': '', '&lt;/b&gt;' : '' } }}</div>
    <div>{{selectedItem.content[8] | formatString: { '&lt;b&gt;': '', '&lt;/b&gt;' : '' } }}</div> -->
    <!-- <button (click)="playAudio(selectedItem.content[8])">Play{{selectedItem.content[8]}}</button> -->
    <!--Sound kanji-->
    <!-- <div>{{selectedItem.content[9] | formatString: { '&lt;b&gt;': '', '&lt;/b&gt;' : '' } }}</div> -->
    <!--Sound hiragana-->
    <div>{{selectedItem.content[10]}}</div><!--Meaning-->
    <div [innerHTML]=selectedItem.content[11]></div><!--(...)-->
    
    <!-- <img src={{selectedItem.content[13]  | formatString: { '[img:': '', ']' : '' } }}/> -->
    <!-- <img src="https://thuanvh.github.io/j2ks/media/ffa5ad589fe3a9c1d2543915545d8f29.jpg"/> -->
    <img [src]=selectedItem.content[13] width="100" height="100"/>
    <!--14: Core 2000 01 - --1, 15: 1, 16: 1, 17: 56-->
  </div>
  <div>
    <button mat-raised-button color="accent" (click)="getListKj()" class="btn">Kanji</button>
    <div *ngIf="kjList" >
      <h5>Kanji list</h5>
      <mat-list>
        <mat-list-item *ngFor="let kj of kjList">
          <!-- <div mat-subheader>{{kj.kj}}</div> -->

              <h2 matLine>{{kj.kj}}</h2>
          
              <!-- <mat-divider [vertical]="true"></mat-divider> -->

          
                <div matLine>{{kj.detail.hanviet}}</div>
                <div matLine>{{kj.detail.keyword}}</div>
                
              
              <!-- <div>{{kj.detail.kanji}}</div> -->
              
              <div matLine>{{kj.detail.kunYomi}}</div>
              <div matLine>{{kj.detail.onYomi}}</div>
          
            <!-- <mat-divider [vertical]="true"></mat-divider> -->

          
            <div matLine>{{kj.detail.constituent}}</div>
            <div matLine>{{kj.detail.myStory}}</div>
            <div matLine>{{kj.detail.readingExamples}}</div>
            <div matLine>{{kj.detail.strokeDiagram}}</div>
          
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </div>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
