


<!-- <h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero"  >
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul> -->

<!-- <div>
  <label>Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div> -->

<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>    
  </li>
</ul> -->


<mat-nav-list>
  <mat-list-item *ngFor="let hero of heroes">
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon> -->
    <a mat-line  routerLink="/detail/{{hero.id}}" >
      <b>{{hero.id}}</b> - <span> {{hero.name}}</span>
    </a>
     <!-- <button mat-icon-button (click)="onSelect(item)">
        <mat-icon>info</mat-icon>
     </button> -->
  </mat-list-item>
</mat-nav-list>